body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.timer {
    display: flex;
    gap: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 40px;
    color: #000;
    font-weight: bold;
}